@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap');
:root{
    --main-bg-color:brown;
    --font1:'Baloo Bhaina 2', cursive;
    --font2:'Roboto', sans-serif;
}
.max-width-1{
    max-width: 80vw;
}

.max-width-2{
    max-width: 60vw;
}

.m-auto{
    /* It aligns the item to the center of the div. */
    margin: auto; 
}


.btn{
    padding: 0px 5px;
    border: 1px solid black;
    border-radius: 20px;
    /*Changing the pointer to a cursor.*/
    cursor: pointer;
}

.form-input{
    padding: 3px 5px;
    font-size: 16px;
    /* border: 0.5px solid black;
    border-radius: 4px; */
    margin: 0 14px;
    font-family: var(--font1);
    
}